@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/About.css" />

<div class="about-container">

    <h1 class="hotel-title">Dusit Thani Mactan Cebu Resort</h1>
    <p class="hotel-location">Lapu - Lapu, Cebu City</p>

    <div class="image-gallery">
        <img src="~/css/images/cebu1.jpg" alt="Hotel Main Image" class="main-image">
        <div class="side-images">
            <img src="~/css/images/violet.png" alt="Hotel Room">
            <img src="~/css/images/cebu2.jpg" alt="Hotel Bathroom">
        </div>
    </div>

    <section class="about-place">
        <h2>About the place</h2>
        <p>
            Minimal techno is a minimalist subgenre of techno music. It is characterized by
            a stripped-down aesthetic that exploits the use of repetition and understated development.
        </p>
        <p>
            Such trends saw the demise of the soul-infused techno that typified the original Detroit sound.
        </p>
    </section>

    
    <div class="booking-section">
        <h3>Start Booking</h3>
        <p class="price">₱11,000 <span>per Day</span></p>
        <button class="book-now">Book Now!</button>
    </div>
